{% extends "basic.html" %}
{% block title %}
	隊伍列表
{% endblock title %}
{% block script %}
	<script>
		$("li#nav_allteam").addClass("active");
	</script>
{% endblock script %}

{% block content %}

	<div class ="container">
	
		<table class="table table-hover table-bordered table-condensed">
			<thead>
				<tr>
					<th colspan="17" class="table-title">團隊{{type}}成績</th>
				</tr>
			{%if teams_bat%}
				<tr class="info">
					<th>名字</th>
					<th><a href="/team/bat/pa">打席</a></th>
					<th><a href="/team/bat/ab">打數</a></th>
					<th><a href="/team/bat/hit">安打</a></th>
					<th><a href="/team/bat/single">一安</a></th>
					<th><a href="/team/bat/double">二安</a></th>
					<th><a href="/team/bat/triple">三安</a></th>
					<th><a href="/team/bat/hr">全壘</a></th>
					<th><a href="/team/bat/rbi">打點</a></th>
					<th><a href="/team/bat/r">得分</a></th>
					<th><a href="/team/bat/bb">保送</a></th>
					<th><a href="/team/bat/so">三振</a></th>
					<th><a href="/team/bat/sf">犧牲</a></th>
					<th><a href="/team/bat/avg">打擊率</a></th>
					<th><a href="/team/bat/obp">上壘率</a></th>
					<th><a href="/team/bat/slg">長打率</a></th>
					<th><a href="/team/bat/ops">攻擊指數</a></th>	
				</tr>
			</thead>
			<tbody>
				{% for team_bat in teams_bat %}
					<tr>
						<td><a href="/team/{{team_bat.id}}">{{team_bat.name}}</a></td>
						<td>{{team_bat.pa}}</td>
						<td>{{team_bat.ab}}</td>
						<td>{{team_bat.hit}}</td>
						<td>{{team_bat.single}}</td>
						<td>{{team_bat.double}}</td>
						<td>{{team_bat.triple}}</td>
						<td>{{team_bat.hr}}</td>
						<td>{{team_bat.rbi}}</td>
						<td>{{team_bat.r}}</td>
						<td>{{team_bat.bb}}</td>
						<td>{{team_bat.so}}</td>
						<td>{{team_bat.sf}}</td>
						<td>{{team_bat.avg_s}}</td>
						<td>{{team_bat.obp_s}}</td>
						<td>{{team_bat.slg_s}}</td>
						<td>{{team_bat.ops_s}}</td>
					</tr>
				{% endfor %}
					<tr class="success">
						<td>聯盟</td>
						<td>{{league.pa}}</td>
						<td>{{league.ab}}</td>
						<td>{{league.hit}}</td>
						<td>{{league.single}}</td>
						<td>{{league.double}}</td>
						<td>{{league.triple}}</td>
						<td>{{league.hr}}</td>
						<td>{{league.rbi}}</td>
						<td>{{league.r}}</td>
						<td>{{league.bb}}</td>
						<td>{{league.so}}</td>
						<td>{{league.sf}}</td>
						<td>{{league.avg_s}}</td>
						<td>{{league.obp_s}}</td>
						<td>{{league.slg_s}}</td>
						<td>{{league.ops_s}}</td>
					</tr>
			{% else %}
					<tr class="info">
						<th>隊名</th>
						<th><a href="/team/pit/pa">打席</a></th>
						<th><a href="/team/pit/inning">局數</a></th>
						<th><a href="/team/pit/so">奪三振</a></th>
						<th><a href="/team/pit/bb">保送</a></th>
						<th><a href="/team/pit/h">被安打</a></th>
						<th><a href="/team/pit/hr">被全壘打</a></th>
						<th><a href="/team/pit/r">失分</a></th>
						<th><a href="/team/pit/er">責失分</a></th>
						<th><a href="/team/pit/go">滾地出局</a></th>
						<th><a href="/team/pit/fo">飛球出局</a></th>
						<th><a href="/team/pit/bb_inning">保送/局數</a></th>
						<th><a href="/team/pit/era">防禦率</a></th>
						<th><a href="/team/pit/whip">被上壘率</a></th>
					</tr>
				</thead>
				<tbody>
					{% for team_pit in teams_pit %}
					<tr>
						<td><a href="/team/{{team_pit.id}}">{{team_pit.name}}</a></td>
						<td>{{team_pit.pa}}</td>
						<td>{{team_pit.inning}}</td>
						<td>{{team_pit.so}}</td>
						<td>{{team_pit.bb}}</td>
						<td>{{team_pit.h}}</td>
						<td>{{team_pit.hr}}</td>
						<td>{{team_pit.r}}</td>
						<td>{{team_pit.er}}</td>
						<td>{{team_pit.go}}</td>
						<td>{{team_pit.fo}}</td>
						<td>{{team_pit.bb_inning_s}}</td>
						<td>{{team_pit.era_s}}</td>
						<td>{{team_pit.whip_s}}</td>
					</tr>
					{% endfor %}
					<tr class="success">
						<td>聯盟</td>
						<td>{{league.pa}}</td>
						<td>{{league.inning}}</td>
						<td>{{league.so}}</td>
						<td>{{league.bb}}</td>
						<td>{{league.h}}</td>
						<td>{{league.hr}}</td>
						<td>{{league.r}}</td>
						<td>{{league.er}}</td>
						<td>{{league.go}}</td>
						<td>{{league.fo}}</td>
						<td>{{league.bb_inning_s}}</td>
						<td>{{league.era_s}}</td>
						<td>{{league.whip_s}}</td>
					</tr>
			{% endif %}
			</tbody>
		</table>

	</div>
{% endblock content %}
