{% extends "basic.html" %}

{% block content %}
<div class="container">
	<form action="{%url 'newgame'%}" method = "post">
		{% csrf_token %}
		
		<div class="row">
			<div class="col-md-4 col-md-offset-4">	
				<table class="table table-condensed table-bordered">
					<tbody>
						<tr>
							<th>AWAY</th>
							<th>
								<select name="awayteamID">
									{% for team in teams %}
										{% if team.teamID == awayteam.teamID %}
											<option value="{{team.teamID}}" selected>{{team.name}}</option>	
										{% else %}
											<option value="{{team.teamID}}">{{team.name}}</option>	
										{% endif %}
									{% endfor %}
								</select>						
							</th>
						</tr>
						<tr>
							<th>HOME</th>
							<th>
								<select name="hometeamID">
								{% for team in teams %}
									{% if team.teamID == hometeam.teamID %}
											<option value="{{team.teamID}}" selected>{{team.name}}</option>	
										{% else %}
											<option value="{{team.teamID}}">{{team.name}}</option>	
										{% endif %}
								{% endfor %}
								</select>
							</th>
						</tr>
						<tr>
							<th>日期</th>
							<th><input type="date" name="date" value="{{date}}"></th>
						</tr>
						<tr>
							<th>地點</th>
							<th><input type="text" name="location" value="{{location}}"></th>
						</tr>
						<tr>
							<th>場次編號</th>
							<th><input type="number" name="game_id" value="{{game_id}}"><br></th>
						</tr>
					</tbody>
				</table>
			</div>	
		</div>
		<div class="row table-title warning">
			{{warning}}
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="table-title">Away Record</div>
				<textarea class="record lined" name="away_rd" rows="12">{{away_record}}</textarea>
			</div>
			<div class="col-md-6">
				<div class="table-title">Home Record</div>
                <textarea class="record lined" name="home_rd" rows="12">{{home_record}}</textarea>					
			</div>
		</div>
		
		<br>
		<div class="row title">
			<a href="https://github.com/phoenix104104/ntusbleague" target="blank">記錄範例請看這裡</a>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 button">
				<input type="submit" class="btn btn-primary" name="preview" value="預覽">
				<input type="submit" class="btn btn-primary" name="download" value="下載PTT記錄檔">
				<input type="submit" class="btn btn-success" name="send" value="送出">
			</div>
		</div>
	</form>
	
	<br>
	{% if preview %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<table class="table table-condensed table-bordered fixed-width">
				<thead>
					<tr>
						<th></th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>R</th>
						<th>H</th>
						<th>E</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>
							{{record.away.name}}<input type="hidden" name="awayid" value = "{{awayteam.teamID}}">
						</th>
						{% for score in record.away.scores %}
							<th>{{score}}</th>
						{% endfor %}
						<th>{{record.away.R}}</th>
						<th>{{record.away.H}}</th>
						<th>{{record.away.E}}</th>
					</tr>
					<tr>
						<th>
							{{record.home.name}}<input type="hidden" name="homeid" value = "{{hometeam.teamID}}">
						</th>
						{% for score in record.home.scores %}
							<th>{{score}}</th>
						{% endfor %}
						<th>{{record.home.R}}</th>
						<th>{{record.home.H}}</th>
						<th>{{record.home.E}}</th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table class="table table-condensed">
				{% for row in record.away.batter_table %}
				<tr>
					{% for col in row %}
						<td>{{col}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-md-6">
			<table class="table table-condensed">
				{% for row in record.home.batter_table %}
				<tr>
					{% for col in row %}
						<td>{{col}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table class="table table-condensed">
				{% for row in record.away.pitcher_table %}
				<tr>
					{% for col in row %}
						<td>{{col}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-md-6">
			<table class="table table-condensed">
				{% for row in record.home.pitcher_table %}
				<tr>
					{% for col in row %}
						<td>{{col}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% endif %}

</div>

{% endblock content %}
